body {
	padding: 10px;
	background: #aacccc;
}

#templates {
	display: none;
}

.version {
	text-align: center;
	font-size: 10px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.block {
	border: 1px solid #00000033;
	display: inline-block;
	padding: 2px;
	text-align: center;
	position: relative;
}

.stat {
	height: 20px;
	width: 194px;
}

.stat > .name {
	float: left;
}

.stat > .effect {
	float: right;
}

.stat > .index {
	float: right;
}

.option {
	height: 20px;
	width: 194px;
}

.option.double-height {
	height: 40px;
}

.action {
	line-height: 20px;
	min-width: 16px;
	user-select: none;
	position: relative;
	text-align: center;
}

.progress {
	display: none;
	background-color: #01322066;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.action.started .progress {
	display: block;
}

.bottom-block {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: auto;
	border: 1px solid #00000077;
	border-radius: 5px;
	padding: 2px;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: thin;
	scrollbar-color: #88aaaa #aacccc;
	white-space: nowrap;
}

#saved-queues .bottom-block > *,
#saved-queues .bottom-block > *,
#saved-queues .bottom-block > *,
#saved-queues .bottom-block > * {
	height: 16px;
	vertical-align: bottom;
}

.bottom-block::-webkit-scrollbar {
	height: 8px;
}

.bottom-block::-webkit-scrollbar-thumb {
	background-color: #88aaaa;
}

.queue-inner {
	display: inline-flex;
	flex-direction: row;
	min-width: calc(100% - 100px);
}

.queue-time {
	display: none;
	position: sticky;
	margin-top: -3px;
	right: 100px;
	background-color: #aaccccd0;
}

#queue0 .queue-time {
	display: inline-block;
	width: 120px;
	text-align: center;
}

#queue0 .queue-inner {
	min-width: calc(100% - 224px);
}

.queue {
	user-select: none;
}

.selected-clone,
.saved-queue:focus {
	border-color: #ff0000;
	background-color: #00ff0056;
}

.queue > span {
	flex: 1;
}

.queue > .name {
	flex: 2;
}

.stuff {
	display: none;
	width: 100%;
	user-select: none;
}

#stuff-inner {
	column-count: 3;
	column-gap: 8px;
	width: 194px;
}

.block .description {
	display: none;
	position: absolute;
	left: 5px;
	width: 180px;
	background: #99bbbb;
	border: 1px solid #00000033;
	z-index: 5;
	pointer-events: none;
	padding: 2px;
	color: #000000;
}

.block .big-description {
	width: 360px;
}

.stuff .description {
	top: calc(100% + 3px);
	backface-visibility: hidden;
}

.action .description {
	top: 54px;
}

.stat .description,
.option .description {
	top: 23px;
}

.option.double-height .description {
	top: 43px;
}

.block:hover:not(.dragging) .description {
	display: block;
}

.progress-indicator {
	width: 0;
	height: 100%;
	background-color: #00000012;
	position: absolute;
	top: 0;
	left: 0;
}

.stuff .name {
	font-size: 12px;
}

.current-action {
	border: 2px solid #008000;
	margin-top: -1px;
	margin-left: -1px;
}

.drag-highlight-top {
	border-top-color: #800000;
}

.drag-highlight-bottom {
	border-bottom-color: #800000;
}

.action .name {
	font-size: 0.9em;
}

.clickable {
	cursor: pointer;
}

.half-width {
	width: 46%;
}

#add-count {
	width: 50px;
	margin-top: -1px;
}

.vertical-block {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 500px;
	border: 1px solid #00000077;
	border-radius: 5px;
	padding: 2px;
	position: relative;
	user-select: none;
}

.wide {
	width: 500px;
}

h3, h4 {
	text-align: center;
}

#map-inner {
	border-collapse: collapse;
}

td {
	width: 12px;
	height: 12px;
	position: relative;
	line-height: 12px;
	padding: 0;
}

td.occupied:before {
	border: 2px solid rgb(255, 0, 0);
	width: 10px;
	height: 10px;
	margin-left: -2px;
	top: -1px;
	left: 1px;
	z-index: 10;
	content: " ";
}

td.final-location:before,
td.hover-location:before {
	border: 2px solid #0000ff;
	width: 10px;
	height: 10px;
	margin-left: -2px;
	top: -1px;
	left: 1px;
	z-index: 10;
	content: " ";
}

td.hover-location:before {
	border-color: #ff00ff;
}

td.wall {
	/* background-color: #000000; */
	background: repeating-linear-gradient(45deg, #000000, #000000 1px, #ffffff66 1px, #666666 2px);
}

td.tunnel {
	background-color: #eeeeee;
}

td.rock {
	background-color: #a52a2a;
}

td.gold {
	background-color: #ffd700;
}

td.mana,
td.mined-mana {
	background-color: #2a78a5;
}

td.mined-mana:before {
	content: "*";
}

td.clone-machine {
	background-color: #9acd32;
}

td.iron {
	background-color: #777777;
}

td.furnace {
	background-color: #777777;
}

td.furnace:before {
	content: "#";
	top: -1px;
}

td.vaporizer {
	background-color: #9acd32;
}

td.vaporizer:before {
	content: "#";
	top: -1px;
}

td.fountain {
	background-color: #008000;
}

td.fountain:before {
	content: "+";
	top: -1px;
	left: 1px;
	font-weight: bolder;
}

td.bridge,
td.bridge2,
td.sword,
td.sword2,
td.shield,
td.shield2,
td.armour,
td.armour2 {
	background-color: #444444;
}

td.bridge:before,
td.bridge2:before {
	content: "⎶";
	top: -1px;
	left: 0px;
}

td.sword:before,
td.sword2:before {
	content: "⚔";
	top: -1px;
	left: 0px;
}

td.shield:before,
td.shield2:before {
	content: "⛨";
	top: 0px;
	left: 0px;
	font-size: 11px;
}

td.armour:before,
td.armour2:before {
	content: "]";
	top: -1px;
	left: 4px;
	font-size: 10px;
}

td.pit {
	background-color: #000000;
}

td.lava {
	background-color: #ff0000;
}

td.lava:before {
	content: "~";
	top: 1px;
	left: 1px;
	font-size: 17px;
	text-shadow: 0px -4px 0px black;
}

td.book {
	background-color: #c99868;
}

td.book:before {
	content: "🕮";
	top: 0px;
	left: 0px;
	font-size: 10px;
}

td.rune-weak,
td.rune-to,
td.rune-from {
	background-color: #c99868;
}

td.rune-weak:before {
	content: "W";
	top: 0px;
	left: 0px;
	font-size: 12px;
}

td.rune-to:before {
	content: "T";
	top: 0px;
	left: 2px;
	font-size: 12px;
}

td.rune-from:before {
	content: "F";
	top: 0px;
	left: 2px;
	font-size: 12px;
}

td.chieftain {
	background-color: #cc0000;
}

td.goblin {
	background-color: #ff0000;
}

td.hobgoblin {
	background-color: #cc0000;
}

td.chieftain:before,
td.hobgoblin:before,
td.goblin:before {
	content: "웃";
	top: 0px;
	left: 0px;
	font-size: 11px;
}

td.hobgoblin:before {
	text-shadow: 0 0 1px;
}

td.coal {
	background-color: #222222;
}

td.coal:before {
	content: "○";
	top: -1px;
	left: 1px;
	font-size: 14px;
	color: #ffffff;
}

td::before {
	position: absolute;
	top: 1px;
	left: 2px;
}

td:after {
	padding: 2px;
	display: none;
	position: absolute;
	top: 2px;
	left: 10px;
	width: max-content;
	background-color: #fef4c5;
	border: 1px solid #d4b943;
	border-radius: 2px;
	z-index: 15;
	pointer-events: none;
	content: attr(data-content)
}

td:hover:after {
	display: block;
}

#message-box {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #00000099;
	z-index: 100;
}

#message-wrapper {
	position: absolute;
	top: 30%;
	left: 30%;
	right: 30%;
	width: 30%;
	background-color: #aacccc;
	padding: 10px;
	border-radius: 20px;
	border: 2px solid #00000044;
	text-align: center;
}

.message-link {
	cursor: pointer;
}

.queue-buttons {
	position: sticky;
	display: inline-block;
	right: 2px;
	z-index: 15;
}

.queue-buttons .button {
	border-radius: 5px;
	border: none;
	margin-top: -3px;
}

.button {
	background-color: #e1e1e1;
	cursor: pointer;
	padding: 2px 6px;
}

.damage {
	background-color: #ff000055;
	position: absolute;
	left: 0;
	top: 0px;
	pointer-events: none;
	height: 5px;
	/* margin-top: -23px; */
	/* margin-right: 13px; */
	z-index: 30;
}

.dead-clone {
	background-color: #ff000055;
}

.dead-clone.selected-clone {
	background-color: #ff450055;
}

#saved-queues {
	margin-top: 10px;
	padding: 5px 10px 5px 5px;
	border: 1px solid #999;
	border-radius: 10px;
	display: none;
	user-select: none;
}

.saved-queue .queue-inner {
	min-width: calc(100% - 212px);
}

.saved-name {
	width: 100px;
	height: 23px;
	margin-top: -2px;
	border: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 5px;
	margin-left: -2px;
}

.icon-select {
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 20px;
	width: 20px;
	vertical-align: top;
}

.colour-select {
	display: inline-block;
	margin-top: -2px;
	height: 24px;
	width: 24px;
	border: none;
	padding: 0;
	vertical-align: top;
}

.cursor {
	display: none;
	height: 100%;
	width: 2px;
	background-color: black;
	position: absolute;
	top: 0;
}

.cursor.visible {
	display: block;
	animation-name: blink;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes blink {
	from {opacity: 1;}
	to {opacity: 0.5;}
}

#runes {
	display: none;
}

.not-available {
	background-color: #ff000055;
}
