.col {
	display: inline-block;
	vertical-align: top;
}

.col:not(:first-of-type) {
	margin-left: 20px;
}

.cell {
	width: 20px;
	height: 20px;
	border: 1px inset;
	display: inline-block;
}

td {
	padding: 5px;
}

td.bot-score {
	font-weight: bold;
}

.colour--1 {
	background-color: black;
}

.colour-0 {
	background-color: white;
}

.colour-1 {
	background-color: AA0000;
}

.colour-2 {
	background-color: 00AA00;
}

.colour-3 {
	background-color: AAAA00;
}

.colour-4 {
	background-color: 0000AA;
}

.colour-5 {
	background-color: AA00AA;
}

.colour-6 {
	background-color: 00AAAA;
}

.colour-7 {
	background-color: AAAAAA;
}

.colour-8 {
	background-color: 555555;
}

.colour-9 {
	background-color: FF5555;
}

.colour-10 {
	background-color: 55FF55;
}

.colour-11 {
	background-color: FFFF55;
}

.colour-12 {
	background-color: 5555FF;
}

.colour-13 {
	background-color: FF55FF;
}

.colour-14 {
	background-color: 55FFFF;
}
