body {
	padding: 10px;
	background-color: #aaaaff;
}

#mapbox {
	width: 750px;
	height: 750px;
	background-color: #25003e;
	position: relative;
	display: inline-block;
	overflow: hidden;
}

#mapbox svg {
	position: absolute;
	transition: all 1s;
	top: 0px;
	left: 0px;
	transform: scale(1);
}

svg,
svg * {
	pointer-events: none;
}

path {
	pointer-events: all;
	fill: #ebd5b3;
	stroke: #000000;
	stroke-width: 0.25;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

path:hover:not(.selected) {
	stroke: #005500;
	stroke-width: 0.75;
	fill: #99ff9977;
}

.location-wrapper {
	opacity: 0;
	pointer-events: none;
	transition: all 1s;
}

.location-wrapper.visible {
	opacity: 1;
}

.location-wrapper.visible path {
	pointer-events: all;
}

#infobox {
	display: none;
	width: 400px;
	height: 750px;
	vertical-align: top;
	margin-left: 15px;
	background-color: #fbe5c3;
	position: relative;
	overflow-x: hidden;
}

#inner-infobox {
	position: absolute;
	transition: left 0.5s;
	left: 0;
	width: 301%;
}

.info-col {
	width: 400px;
	height: 100%;
	vertical-align: top;
	display: inline-block;
}

#infobox.active {
	display: inline-block;
}

.info-name {
	text-align: center;
}

.info-col:not(:first-of-type) {
	margin-left: -5px;
}

.info-col .info-name {
	margin-top: 0px;
}

.info-desc {
	max-height: 500px;
	margin: 0px 5px;
	text-align: justify;
	overflow-y: auto;
}

#info-people {
	display: none;
}

.info-buttons {
	text-align: center;
	padding: 2px;
}

.info-button {
	margin: 2px;
}

button {
	border-radius: 5px;
	border-style: ridge;
}

#templates {
	display: none;
}

.list-item {
	padding: 5px;
}

.list-element {
	display: inline-block;
	width: 40%;
}

.list-button {
	width: 20%;
}

.no-transition {
	transition: none !important;
}